<!DOCTYPE html>
<html>
<head>
  <title>OpenstaxApi</title>
  <%= stylesheet_link_tag    "openstax_api/application", :media => "all" %>
  <%= javascript_include_tag "openstax_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
